
<div class="head">
    <div class="logo">
        <h2>MyPet-App</h2>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/animal">ANIMAIS</a></li>
            <li><a href="/dono">DONOS</a></li>
            <li><a href="/dono/cadastrar">CADASTRAR DONO</a></li>
        </ul>
    </div>
</div>

