
<div class="head">
    <div class="logo">
        <h2>MyPet-App</h2>
    </div>
    <div class="menu">
        <ul>
            <li> <a href="/animal">Animais</a></li>
            <li><a href="/dono">Donos</a></li>
        </ul>
    </div>
</div>

