<div class="pg-dono">
    <div class="container-foto-dono">
        <div></div>
        <div></div>
    </div>
    <h2> {{dono.dono_nome}} </h2>
    <h3> Telefone: {{dono.telefone}} </h3>
    <h3>Animais:</h3>

    <ul>
        {{#each animais}}
        <li>
            {{this}} 
        </li>
        {{/each}}
    </ul>

    <form method ="POST" action = "/animal">
        <fieldset>
            <legend> CADASTRAR ANIMAL</legend>
            <label for="nome-animal">Nome do animal</label>
            <input type="text" name="nome">
            <label for="tipo-animal">Tipo animal</label>
            <input type="text" name="tipo">
            <input type="hidden" name="proprietario_id" value="{{dono.proprietario_id}}">
            <input type="submit" value="OK">
        </fieldset>
    </form>
    
</div>