
  <form method="POST" action="/dono" class="dono-form-cadastrar">  
        <h3>CADASTAR DONO</h3>
        <label for="name">Nome:</label>
        <input type="text" name="nome" id="1">
        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" id="">
        <input type="submit" value="OK">
</form>
